:root {
  --primary-color: #efb6c8;
  --secondary-color: #5e507e;
  --front-background-color: #8174a0;
  --body-background-color: #fff2f2;
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--body-background-color);
}

h1 {
  color: var(--primary-color);
  font-family: "Rajdhani", sans-serif;
  font-size: 120px;
  font-weight: 700;
  line-height: 120px;
}

h2 {
  font-size: 45px;
  font-weight: 600;
  color: var(--secondary-color);
}

h3 {
  font-size: 60px;
  font-weight: 400;
  color: white;
}

h4 {
  font-size: 28px;
  margin: 20px;
  font-weight: 600;
  color: var(--secondary-color);
}

.main-page-box {
  background-color: var(--front-background-color);
}

.main-page-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 90px;
}

.coding-illustration {
  width: 670px;
}

.preview-images {
  width: 500px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

i {
  background-color: var(--front-background-color);
  padding: 20px;
  font-size: 40px;
  margin: 40px;
  border-radius: 20px;
}
.socials-containers {
  display: flex;
  justify-content: center;
}

@media (max-width: 992px) {
  .main-page-content {
    display: block;
  }

  .main-page-into {
    text-align: center;
    padding: 120px 0px;
  }

  h1 {
    font-size: 90px;
  }

  .main-page-into h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 50px;
  }

  i {
    font-size: 30px;
    padding: 15px;
    border-radius: 15px;
    margin: 30px;
  }
}

@media (max-width: 768px) {
  .project-images {
    width: 80%;
  }
}

@media (max-width: 578px) {
  i {
    font-size: 20px;
    padding: 15px;
    border-radius: 15px;
    margin: 20px;
  }

  h4 {
    font-size: 25px;
  }
}

.page-title {
  text-align: center;
  background-color: var(--front-background-color);
  margin-top: 60px;
  padding: 15px;
  font-size: 90px;
  margin: 0 auto;
  margin-top: 60px;
  background-color: #8174a0;
}

.about-content {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  padding: 20px;
  font-size: 20px;
}
